/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.bear1of1 {
  width: 100%; }

.bear1of2 {
  width: 50%; }

.bear1of3 {
  width: 33.33333%; }

.bear1of4 {
  width: 25%; }

.bear1of5 {
  width: 20%; }

.bear1of6 {
  width: 16.66667%; }

.bear1of7 {
  width: 14.28571%; }

.bear1of8 {
  width: 12.5%; }

.bear1of9 {
  width: 11.11111%; }

.bear1of10 {
  width: 10%; }

.bear1of11 {
  width: 9.09091%; }

.bear1of12 {
  width: 8.33333%; }

.bear2of1 {
  width: 200%; }

.bear2of2 {
  width: 100%; }

.bear2of3 {
  width: 66.66667%; }

.bear2of4 {
  width: 50%; }

.bear2of5 {
  width: 40%; }

.bear2of6 {
  width: 33.33333%; }

.bear2of7 {
  width: 28.57143%; }

.bear2of8 {
  width: 25%; }

.bear2of9 {
  width: 22.22222%; }

.bear2of10 {
  width: 20%; }

.bear2of11 {
  width: 18.18182%; }

.bear2of12 {
  width: 16.66667%; }

.bear3of1 {
  width: 300%; }

.bear3of2 {
  width: 150%; }

.bear3of3 {
  width: 100%; }

.bear3of4 {
  width: 75%; }

.bear3of5 {
  width: 60%; }

.bear3of6 {
  width: 50%; }

.bear3of7 {
  width: 42.85714%; }

.bear3of8 {
  width: 37.5%; }

.bear3of9 {
  width: 33.33333%; }

.bear3of10 {
  width: 30%; }

.bear3of11 {
  width: 27.27273%; }

.bear3of12 {
  width: 25%; }

.bear4of1 {
  width: 400%; }

.bear4of2 {
  width: 200%; }

.bear4of3 {
  width: 133.33333%; }

.bear4of4 {
  width: 100%; }

.bear4of5 {
  width: 80%; }

.bear4of6 {
  width: 66.66667%; }

.bear4of7 {
  width: 57.14286%; }

.bear4of8 {
  width: 50%; }

.bear4of9 {
  width: 44.44444%; }

.bear4of10 {
  width: 40%; }

.bear4of11 {
  width: 36.36364%; }

.bear4of12 {
  width: 33.33333%; }

.bear5of1 {
  width: 500%; }

.bear5of2 {
  width: 250%; }

.bear5of3 {
  width: 166.66667%; }

.bear5of4 {
  width: 125%; }

.bear5of5 {
  width: 100%; }

.bear5of6 {
  width: 83.33333%; }

.bear5of7 {
  width: 71.42857%; }

.bear5of8 {
  width: 62.5%; }

.bear5of9 {
  width: 55.55556%; }

.bear5of10 {
  width: 50%; }

.bear5of11 {
  width: 45.45455%; }

.bear5of12 {
  width: 41.66667%; }

.bear6of1 {
  width: 600%; }

.bear6of2 {
  width: 300%; }

.bear6of3 {
  width: 200%; }

.bear6of4 {
  width: 150%; }

.bear6of5 {
  width: 120%; }

.bear6of6 {
  width: 100%; }

.bear6of7 {
  width: 85.71429%; }

.bear6of8 {
  width: 75%; }

.bear6of9 {
  width: 66.66667%; }

.bear6of10 {
  width: 60%; }

.bear6of11 {
  width: 54.54545%; }

.bear6of12 {
  width: 50%; }

.bear7of1 {
  width: 700%; }

.bear7of2 {
  width: 350%; }

.bear7of3 {
  width: 233.33333%; }

.bear7of4 {
  width: 175%; }

.bear7of5 {
  width: 140%; }

.bear7of6 {
  width: 116.66667%; }

.bear7of7 {
  width: 100%; }

.bear7of8 {
  width: 87.5%; }

.bear7of9 {
  width: 77.77778%; }

.bear7of10 {
  width: 70%; }

.bear7of11 {
  width: 63.63636%; }

.bear7of12 {
  width: 58.33333%; }

.bear8of1 {
  width: 800%; }

.bear8of2 {
  width: 400%; }

.bear8of3 {
  width: 266.66667%; }

.bear8of4 {
  width: 200%; }

.bear8of5 {
  width: 160%; }

.bear8of6 {
  width: 133.33333%; }

.bear8of7 {
  width: 114.28571%; }

.bear8of8 {
  width: 100%; }

.bear8of9 {
  width: 88.88889%; }

.bear8of10 {
  width: 80%; }

.bear8of11 {
  width: 72.72727%; }

.bear8of12 {
  width: 66.66667%; }

.bear9of1 {
  width: 900%; }

.bear9of2 {
  width: 450%; }

.bear9of3 {
  width: 300%; }

.bear9of4 {
  width: 225%; }

.bear9of5 {
  width: 180%; }

.bear9of6 {
  width: 150%; }

.bear9of7 {
  width: 128.57143%; }

.bear9of8 {
  width: 112.5%; }

.bear9of9 {
  width: 100%; }

.bear9of10 {
  width: 90%; }

.bear9of11 {
  width: 81.81818%; }

.bear9of12 {
  width: 75%; }

.bear10of1 {
  width: 1000%; }

.bear10of2 {
  width: 500%; }

.bear10of3 {
  width: 333.33333%; }

.bear10of4 {
  width: 250%; }

.bear10of5 {
  width: 200%; }

.bear10of6 {
  width: 166.66667%; }

.bear10of7 {
  width: 142.85714%; }

.bear10of8 {
  width: 125%; }

.bear10of9 {
  width: 111.11111%; }

.bear10of10 {
  width: 100%; }

.bear10of11 {
  width: 90.90909%; }

.bear10of12 {
  width: 83.33333%; }

.bear11of1 {
  width: 1100%; }

.bear11of2 {
  width: 550%; }

.bear11of3 {
  width: 366.66667%; }

.bear11of4 {
  width: 275%; }

.bear11of5 {
  width: 220%; }

.bear11of6 {
  width: 183.33333%; }

.bear11of7 {
  width: 157.14286%; }

.bear11of8 {
  width: 137.5%; }

.bear11of9 {
  width: 122.22222%; }

.bear11of10 {
  width: 110%; }

.bear11of11 {
  width: 100%; }

.bear11of12 {
  width: 91.66667%; }

.bear12of1 {
  width: 1200%; }

.bear12of2 {
  width: 600%; }

.bear12of3 {
  width: 400%; }

.bear12of4 {
  width: 300%; }

.bear12of5 {
  width: 240%; }

.bear12of6 {
  width: 200%; }

.bear12of7 {
  width: 171.42857%; }

.bear12of8 {
  width: 150%; }

.bear12of9 {
  width: 133.33333%; }

.bear12of10 {
  width: 120%; }

.bear12of11 {
  width: 109.09091%; }

.bear12of12 {
  width: 100%; }

.debug {
  background-color: #ff0000;
  height: 30px; }

/*# sourceMappingURL=base.css.map */
