article[class^='bear'], aside[class^='bear'], div[class^='bear'], footer[class^='bear'], header[class^='bear'], nav[class^='bear'], section[class^='bear'] {
	display: flex;
}

.bear-stick {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.bear-wrap {
	flex-wrap: wrap;
}

.bear-flecen {
	justify-content: center;
}

.bear-flesta {
	justify-content: flex-start;
}

.bear-fleend {
	justify-content: flex-end;
}

.bear-flestr {
	justify-content: stretch;
}

.bear-flebas {
	justify-content: baseline;
}

.bear-flearo {
	justify-content: space-around;
}

.bear-flebet {
	justify-content: space-between;
}

.bear-itecen {
	align-items: center;
}

.bear-itesta {
	align-items: flex-start;
}

.bear-iteend {
	align-items: flex-end;
}

.bear-itestr {
	align-items: stretch;
}

.bear-itebas {
	align-items: baseline;
}

.bear-cocen {
	align-content: center;
}

.bear-costa {
	align-content: flex-start;
}

.bear-coend {
	align-content: flex-end;
}

.bear-costr {
	align-content: stretch;
}

.bear-coaro {
	align-content: space-around;
}

.bear-cobet {
	align-content: space-between;
}

.bear-row {
	flex-direction: row;
}

.bear-col {
    flex-direction: column;
}

.bear-row-r {
	flex-direction: row-reverse;
}

.bear-col-r {
    flex-direction: column-reverse;
}

.bear-1of1 {width: 100.0%}
.bear-1of2 {width: 50.0%}
.bear-1of3 {width: 33.333333333333336%}
.bear-1of4 {width: 25.0%}
.bear-1of5 {width: 20.0%}
.bear-1of6 {width: 16.666666666666668%}
.bear-1of7 {width: 14.285714285714286%}
.bear-1of8 {width: 12.5%}
.bear-1of9 {width: 11.11111111111111%}
.bear-1of10 {width: 10.0%}
.bear-1of11 {width: 9.090909090909092%}
.bear-1of12 {width: 8.333333333333334%}
.bear-1of13 {width: 7.6923076923076925%}
.bear-1of14 {width: 7.142857142857143%}
.bear-1of15 {width: 6.666666666666667%}
.bear-1of16 {width: 6.25%}
.bear-1of17 {width: 5.882352941176471%}
.bear-1of18 {width: 5.555555555555555%}
.bear-1of19 {width: 5.2631578947368425%}
.bear-1of20 {width: 5.0%}
.bear-2of2 {width: 100.0%}
.bear-2of3 {width: 66.66666666666667%}
.bear-2of4 {width: 50.0%}
.bear-2of5 {width: 40.0%}
.bear-2of6 {width: 33.333333333333336%}
.bear-2of7 {width: 28.571428571428573%}
.bear-2of8 {width: 25.0%}
.bear-2of9 {width: 22.22222222222222%}
.bear-2of10 {width: 20.0%}
.bear-2of11 {width: 18.181818181818183%}
.bear-2of12 {width: 16.666666666666668%}
.bear-2of13 {width: 15.384615384615385%}
.bear-2of14 {width: 14.285714285714286%}
.bear-2of15 {width: 13.333333333333334%}
.bear-2of16 {width: 12.5%}
.bear-2of17 {width: 11.764705882352942%}
.bear-2of18 {width: 11.11111111111111%}
.bear-2of19 {width: 10.526315789473685%}
.bear-2of20 {width: 10.0%}
.bear-3of3 {width: 100.0%}
.bear-3of4 {width: 75.0%}
.bear-3of5 {width: 60.0%}
.bear-3of6 {width: 50.0%}
.bear-3of7 {width: 42.85714285714286%}
.bear-3of8 {width: 37.5%}
.bear-3of9 {width: 33.33333333333333%}
.bear-3of10 {width: 30.0%}
.bear-3of11 {width: 27.272727272727273%}
.bear-3of12 {width: 25.0%}
.bear-3of13 {width: 23.076923076923077%}
.bear-3of14 {width: 21.42857142857143%}
.bear-3of15 {width: 20.0%}
.bear-3of16 {width: 18.75%}
.bear-3of17 {width: 17.647058823529413%}
.bear-3of18 {width: 16.666666666666664%}
.bear-3of19 {width: 15.789473684210527%}
.bear-3of20 {width: 15.0%}
.bear-4of4 {width: 100.0%}
.bear-4of5 {width: 80.0%}
.bear-4of6 {width: 66.66666666666667%}
.bear-4of7 {width: 57.142857142857146%}
.bear-4of8 {width: 50.0%}
.bear-4of9 {width: 44.44444444444444%}
.bear-4of10 {width: 40.0%}
.bear-4of11 {width: 36.36363636363637%}
.bear-4of12 {width: 33.333333333333336%}
.bear-4of13 {width: 30.76923076923077%}
.bear-4of14 {width: 28.571428571428573%}
.bear-4of15 {width: 26.666666666666668%}
.bear-4of16 {width: 25.0%}
.bear-4of17 {width: 23.529411764705884%}
.bear-4of18 {width: 22.22222222222222%}
.bear-4of19 {width: 21.05263157894737%}
.bear-4of20 {width: 20.0%}
.bear-5of5 {width: 100.0%}
.bear-5of6 {width: 83.33333333333334%}
.bear-5of7 {width: 71.42857142857143%}
.bear-5of8 {width: 62.5%}
.bear-5of9 {width: 55.55555555555556%}
.bear-5of10 {width: 50.0%}
.bear-5of11 {width: 45.45454545454546%}
.bear-5of12 {width: 41.66666666666667%}
.bear-5of13 {width: 38.46153846153846%}
.bear-5of14 {width: 35.714285714285715%}
.bear-5of15 {width: 33.333333333333336%}
.bear-5of16 {width: 31.25%}
.bear-5of17 {width: 29.411764705882355%}
.bear-5of18 {width: 27.77777777777778%}
.bear-5of19 {width: 26.315789473684212%}
.bear-5of20 {width: 25.0%}
.bear-6of6 {width: 100.0%}
.bear-6of7 {width: 85.71428571428572%}
.bear-6of8 {width: 75.0%}
.bear-6of9 {width: 66.66666666666666%}
.bear-6of10 {width: 60.0%}
.bear-6of11 {width: 54.54545454545455%}
.bear-6of12 {width: 50.0%}
.bear-6of13 {width: 46.15384615384615%}
.bear-6of14 {width: 42.85714285714286%}
.bear-6of15 {width: 40.0%}
.bear-6of16 {width: 37.5%}
.bear-6of17 {width: 35.294117647058826%}
.bear-6of18 {width: 33.33333333333333%}
.bear-6of19 {width: 31.578947368421055%}
.bear-6of20 {width: 30.0%}
.bear-7of7 {width: 100.0%}
.bear-7of8 {width: 87.5%}
.bear-7of9 {width: 77.77777777777777%}
.bear-7of10 {width: 70.0%}
.bear-7of11 {width: 63.63636363636364%}
.bear-7of12 {width: 58.333333333333336%}
.bear-7of13 {width: 53.84615384615385%}
.bear-7of14 {width: 50.0%}
.bear-7of15 {width: 46.66666666666667%}
.bear-7of16 {width: 43.75%}
.bear-7of17 {width: 41.1764705882353%}
.bear-7of18 {width: 38.888888888888886%}
.bear-7of19 {width: 36.8421052631579%}
.bear-7of20 {width: 35.0%}
.bear-8of8 {width: 100.0%}
.bear-8of9 {width: 88.88888888888889%}
.bear-8of10 {width: 80.0%}
.bear-8of11 {width: 72.72727272727273%}
.bear-8of12 {width: 66.66666666666667%}
.bear-8of13 {width: 61.53846153846154%}
.bear-8of14 {width: 57.142857142857146%}
.bear-8of15 {width: 53.333333333333336%}
.bear-8of16 {width: 50.0%}
.bear-8of17 {width: 47.05882352941177%}
.bear-8of18 {width: 44.44444444444444%}
.bear-8of19 {width: 42.10526315789474%}
.bear-8of20 {width: 40.0%}
.bear-9of9 {width: 100.0%}
.bear-9of10 {width: 90.0%}
.bear-9of11 {width: 81.81818181818183%}
.bear-9of12 {width: 75.0%}
.bear-9of13 {width: 69.23076923076923%}
.bear-9of14 {width: 64.28571428571429%}
.bear-9of15 {width: 60.0%}
.bear-9of16 {width: 56.25%}
.bear-9of17 {width: 52.94117647058824%}
.bear-9of18 {width: 50.0%}
.bear-9of19 {width: 47.36842105263158%}
.bear-9of20 {width: 45.0%}
.bear-10of10 {width: 100.0%}
.bear-10of11 {width: 90.90909090909092%}
.bear-10of12 {width: 83.33333333333334%}
.bear-10of13 {width: 76.92307692307692%}
.bear-10of14 {width: 71.42857142857143%}
.bear-10of15 {width: 66.66666666666667%}
.bear-10of16 {width: 62.5%}
.bear-10of17 {width: 58.82352941176471%}
.bear-10of18 {width: 55.55555555555556%}
.bear-10of19 {width: 52.631578947368425%}
.bear-10of20 {width: 50.0%}
.bear-11of11 {width: 100.00000000000001%}
.bear-11of12 {width: 91.66666666666667%}
.bear-11of13 {width: 84.61538461538461%}
.bear-11of14 {width: 78.57142857142857%}
.bear-11of15 {width: 73.33333333333334%}
.bear-11of16 {width: 68.75%}
.bear-11of17 {width: 64.70588235294119%}
.bear-11of18 {width: 61.11111111111111%}
.bear-11of19 {width: 57.89473684210527%}
.bear-11of20 {width: 55.0%}
.bear-12of12 {width: 100.0%}
.bear-12of13 {width: 92.3076923076923%}
.bear-12of14 {width: 85.71428571428572%}
.bear-12of15 {width: 80.0%}
.bear-12of16 {width: 75.0%}
.bear-12of17 {width: 70.58823529411765%}
.bear-12of18 {width: 66.66666666666666%}
.bear-12of19 {width: 63.15789473684211%}
.bear-12of20 {width: 60.0%}
.bear-13of13 {width: 100.0%}
.bear-13of14 {width: 92.85714285714286%}
.bear-13of15 {width: 86.66666666666667%}
.bear-13of16 {width: 81.25%}
.bear-13of17 {width: 76.47058823529412%}
.bear-13of18 {width: 72.22222222222221%}
.bear-13of19 {width: 68.42105263157896%}
.bear-13of20 {width: 65.0%}
.bear-14of14 {width: 100.0%}
.bear-14of15 {width: 93.33333333333334%}
.bear-14of16 {width: 87.5%}
.bear-14of17 {width: 82.3529411764706%}
.bear-14of18 {width: 77.77777777777777%}
.bear-14of19 {width: 73.6842105263158%}
.bear-14of20 {width: 70.0%}
.bear-15of15 {width: 100.0%}
.bear-15of16 {width: 93.75%}
.bear-15of17 {width: 88.23529411764707%}
.bear-15of18 {width: 83.33333333333333%}
.bear-15of19 {width: 78.94736842105263%}
.bear-15of20 {width: 75.0%}
.bear-16of16 {width: 100.0%}
.bear-16of17 {width: 94.11764705882354%}
.bear-16of18 {width: 88.88888888888889%}
.bear-16of19 {width: 84.21052631578948%}
.bear-16of20 {width: 80.0%}
.bear-17of17 {width: 100.0%}
.bear-17of18 {width: 94.44444444444444%}
.bear-17of19 {width: 89.47368421052633%}
.bear-17of20 {width: 85.0%}
.bear-18of18 {width: 100.0%}
.bear-18of19 {width: 94.73684210526316%}
.bear-18of20 {width: 90.0%}
.bear-19of19 {width: 100.0%}
.bear-19of20 {width: 95.0%}
.bear-20of20 {width: 100.0%}
