.bearapper {
    display: block;
    flex-direction: column;
    widows: 100vw;
}

/* red */
.red-color-50{background: #ffebee}
.red-color-100{background: #ffcdd2}
.red-color-200{background: #ef9a9a}
.red-color-300{background: #e57373}
.red-color-400{background: #ef5350}
.red-color-500{background: #f44336}
.red-color-600{background: #e53935}
.red-color-700{background: #d32f2f}
.red-color-800{background: #c62828}
.red-color-900{background: #b71c1c}
.red-color-a100{background: #ff8a80}
.red-color-a200{background: #ff5252}
.red-color-a400{background: #ff1744}
.red-color-a700{background: #d50000}
/* pink */
.pink-color-50{background: #fce4ec}
.pink-color-100{background: #f8bbd0}
.pink-color-200{background: #f48fb1}
.pink-color-300{background: #f06292}
.pink-color-400{background: #ec407a}
.pink-color-500{background: #e91e63}
.pink-color-600{background: #d81b60}
.pink-color-700{background: #c2185b}
.pink-color-800{background: #ad1457}
.pink-color-900{background: #880e4f}
.pink-color-a100{background: #ff80ab}
.pink-color-a200{background: #ff4081}
.pink-color-a400{background: #f50057}
.pink-color-a700{background: #c51162}
/* purple */
.purple-color-50{background: #f3e5f5}
.purple-color-100{background: #e1bee7}
.purple-color-200{background: #ce93d8}
.purple-color-300{background: #ba68c8}
.purple-color-400{background: #ab47bc}
.purple-color-500{background: #9c27b0}
.purple-color-600{background: #8e24aa}
.purple-color-700{background: #7b1fa2}
.purple-color-800{background: #6a1b9a}
.purple-color-900{background: #4a148c}
.purple-color-a100{background: #ea80fc}
.purple-color-a200{background: #e040fb}
.purple-color-a400{background: #d500f9}
.purple-color-a700{background: #aa00ff}
/* deeppurple */
.deeppurple-color-50{background: #ede7f6}
.deeppurple-color-100{background: #d1c4e9}
.deeppurple-color-200{background: #b39ddb}
.deeppurple-color-300{background: #9575cd}
.deeppurple-color-400{background: #7e57c2}
.deeppurple-color-500{background: #673ab7}
.deeppurple-color-600{background: #5e35b1}
.deeppurple-color-700{background: #512da8}
.deeppurple-color-800{background: #4527a0}
.deeppurple-color-900{background: #311b92}
.deeppurple-color-a100{background: #b388ff}
.deeppurple-color-a200{background: #7c4dff}
.deeppurple-color-a400{background: #651fff}
.deeppurple-color-a700{background: #6200ea}
/* indigo */
.indigo-color-50{background: #e8eaf6}
.indigo-color-100{background: #c5cae9}
.indigo-color-200{background: #9fa8da}
.indigo-color-300{background: #7986cb}
.indigo-color-400{background: #5c6bc0}
.indigo-color-500{background: #3f51b5}
.indigo-color-600{background: #3949ab}
.indigo-color-700{background: #303f9f}
.indigo-color-800{background: #283593}
.indigo-color-900{background: #1a237e}
.indigo-color-a100{background: #8c9eff}
.indigo-color-a200{background: #536dfe}
.indigo-color-a400{background: #3d5afe}
.indigo-color-a700{background: #304ffe}
/* blue */
.blue-color-50{background: #e3f2fd}
.blue-color-100{background: #bbdefb}
.blue-color-200{background: #90caf9}
.blue-color-300{background: #64b5f6}
.blue-color-400{background: #42a5f5}
.blue-color-500{background: #2196f3}
.blue-color-600{background: #1e88e5}
.blue-color-700{background: #1976d2}
.blue-color-800{background: #1565c0}
.blue-color-900{background: #0d47a1}
.blue-color-a100{background: #82b1ff}
.blue-color-a200{background: #448aff}
.blue-color-a400{background: #2979ff}
.blue-color-a700{background: #2962ff}
/* lightblue */
.lightblue-color-50{background: #e1f5fe}
.lightblue-color-100{background: #b3e5fc}
.lightblue-color-200{background: #81d4fa}
.lightblue-color-300{background: #4fc3f7}
.lightblue-color-400{background: #29b6f6}
.lightblue-color-500{background: #03a9f4}
.lightblue-color-600{background: #039be5}
.lightblue-color-700{background: #0288d1}
.lightblue-color-800{background: #0277bd}
.lightblue-color-900{background: #01579b}
.lightblue-color-a100{background: #80d8ff}
.lightblue-color-a200{background: #40c4ff}
.lightblue-color-a400{background: #00b0ff}
.lightblue-color-a700{background: #0091ea}
/* cyan */
.cyan-color-50{background: #e0f7fa}
.cyan-color-100{background: #b2ebf2}
.cyan-color-200{background: #80deea}
.cyan-color-300{background: #4dd0e1}
.cyan-color-400{background: #26c6da}
.cyan-color-500{background: #00bcd4}
.cyan-color-600{background: #00acc1}
.cyan-color-700{background: #0097a7}
.cyan-color-800{background: #00838f}
.cyan-color-900{background: #006064}
.cyan-color-a100{background: #84ffff}
.cyan-color-a200{background: #18ffff}
.cyan-color-a400{background: #00e5ff}
.cyan-color-a700{background: #00b8d4}
/* teal */
.teal-color-50{background: #e0f2f1}
.teal-color-100{background: #b2dfdb}
.teal-color-200{background: #80cbc4}
.teal-color-300{background: #4db6ac}
.teal-color-400{background: #26a69a}
.teal-color-500{background: #009688}
.teal-color-600{background: #00897b}
.teal-color-700{background: #00796b}
.teal-color-800{background: #00695c}
.teal-color-900{background: #004d40}
.teal-color-a100{background: #a7ffeb}
.teal-color-a200{background: #64ffda}
.teal-color-a400{background: #1de9b6}
.teal-color-a700{background: #00bfa5}
/* green */
.green-color-50{background: #e8f5e9}
.green-color-100{background: #c8e6c9}
.green-color-200{background: #a5d6a7}
.green-color-300{background: #81c784}
.green-color-400{background: #66bb6a}
.green-color-500{background: #4caf50}
.green-color-600{background: #43a047}
.green-color-700{background: #388e3c}
.green-color-800{background: #2e7d32}
.green-color-900{background: #1b5e20}
.green-color-a100{background: #b9f6ca}
.green-color-a200{background: #69f0ae}
.green-color-a400{background: #00e676}
.green-color-a700{background: #00c853}
/* lightgreen */
.lightgreen-color-50{background: #f1f8e9}
.lightgreen-color-100{background: #dcedc8}
.lightgreen-color-200{background: #c5e1a5}
.lightgreen-color-300{background: #aed581}
.lightgreen-color-400{background: #9ccc65}
.lightgreen-color-500{background: #8bc34a}
.lightgreen-color-600{background: #7cb342}
.lightgreen-color-700{background: #689f38}
.lightgreen-color-800{background: #558b2f}
.lightgreen-color-900{background: #33691e}
.lightgreen-color-a100{background: #ccff90}
.lightgreen-color-a200{background: #b2ff59}
.lightgreen-color-a400{background: #76ff03}
.lightgreen-color-a700{background: #64dd17}
/* lime */
.lime-color-50{background: #f9fbe7}
.lime-color-100{background: #f0f4c3}
.lime-color-200{background: #e6ee9c}
.lime-color-300{background: #dce775}
.lime-color-400{background: #d4e157}
.lime-color-500{background: #cddc39}
.lime-color-600{background: #c0ca33}
.lime-color-700{background: #afb42b}
.lime-color-800{background: #9e9d24}
.lime-color-900{background: #827717}
.lime-color-a100{background: #f4ff81}
.lime-color-a200{background: #eeff41}
.lime-color-a400{background: #c6ff00}
.lime-color-a700{background: #aeea00}
/* yellow */
.yellow-color-50{background: #fffde7}
.yellow-color-100{background: #fff9c4}
.yellow-color-200{background: #fff59d}
.yellow-color-300{background: #fff176}
.yellow-color-400{background: #ffee58}
.yellow-color-500{background: #ffeb3b}
.yellow-color-600{background: #fdd835}
.yellow-color-700{background: #fbc02d}
.yellow-color-800{background: #f9a825}
.yellow-color-900{background: #f57f17}
.yellow-color-a100{background: #ffff8d}
.yellow-color-a200{background: #ffff00}
.yellow-color-a400{background: #ffea00}
.yellow-color-a700{background: #ffd600}
/* amber */
.amber-color-50{background: #fff8e1}
.amber-color-100{background: #ffecb3}
.amber-color-200{background: #ffe082}
.amber-color-300{background: #ffd54f}
.amber-color-400{background: #ffca28}
.amber-color-500{background: #ffc107}
.amber-color-600{background: #ffb300}
.amber-color-700{background: #ffa000}
.amber-color-800{background: #ff8f00}
.amber-color-900{background: #ff6f00}
.amber-color-a100{background: #ffe57f}
.amber-color-a200{background: #ffd740}
.amber-color-a400{background: #ffc400}
.amber-color-a700{background: #ffab00}
/* orange */
.orange-color-50{background: #fff3e0}
.orange-color-100{background: #ffe0b2}
.orange-color-200{background: #ffcc80}
.orange-color-300{background: #ffb74d}
.orange-color-400{background: #ffa726}
.orange-color-500{background: #ff9800}
.orange-color-600{background: #fb8c00}
.orange-color-700{background: #f57c00}
.orange-color-800{background: #ef6c00}
.orange-color-900{background: #e65100}
.orange-color-a100{background: #ffd180}
.orange-color-a200{background: #ffab40}
.orange-color-a400{background: #ff9100}
.orange-color-a700{background: #ff6d00}
/* deeporange */
.deeporange-color-50{background: #fbe9e7}
.deeporange-color-100{background: #ffccbc}
.deeporange-color-200{background: #ffab91}
.deeporange-color-300{background: #ff8a65}
.deeporange-color-400{background: #ff7043}
.deeporange-color-500{background: #ff5722}
.deeporange-color-600{background: #f4511e}
.deeporange-color-700{background: #e64a19}
.deeporange-color-800{background: #d84315}
.deeporange-color-900{background: #bf360c}
.deeporange-color-a100{background: #ff9e80}
.deeporange-color-a200{background: #ff6e40}
.deeporange-color-a400{background: #ff3d00}
.deeporange-color-a700{background: #dd2c00}
/* brown */
.brown-color-50{background: #efebe9}
.brown-color-100{background: #d7ccc8}
.brown-color-200{background: #bcaaa4}
.brown-color-300{background: #a1887f}
.brown-color-400{background: #8d6e63}
.brown-color-500{background: #795548}
.brown-color-600{background: #6d4c41}
.brown-color-700{background: #5d4037}
.brown-color-800{background: #4e342e}
.brown-color-900{background: #3e2723}
/* grey */
.grey-color-50{background: #fafafa}
.grey-color-100{background: #f5f5f5}
.grey-color-200{background: #eeeeee}
.grey-color-300{background: #e0e0e0}
.grey-color-400{background: #bdbdbd}
.grey-color-500{background: #9e9e9e}
.grey-color-600{background: #757575}
.grey-color-700{background: #616161}
.grey-color-800{background: #424242}
.grey-color-900{background: #212121}
/* bluegrey */
.bluegrey-color-50{background: #eceff1}
.bluegrey-color-100{background: #cfd8dc}
.bluegrey-color-200{background: #b0bec5}
.bluegrey-color-300{background: #90a4ae}
.bluegrey-color-400{background: #78909c}
.bluegrey-color-500{background: #607d8b}
.bluegrey-color-600{background: #546e7a}
.bluegrey-color-700{background: #455a64}
.bluegrey-color-800{background: #37474f}
.bluegrey-color-900{background: #263238}
