@import url('https://fonts.googleapis.com/css?family=EB+Garamond|PT+Mono|Roboto+Slab|Seymour+One|Source+Sans+Pro:300,400,700&subset=cyrillic');


*[class^='bear-te']{
	text-rendering: optimizeLegibility;
}

/* Size */

.bear-te20 {font-size: calc(2 * 175%)}
.bear-te19 {font-size: calc(1.9 * 175%)}
.bear-te18 {font-size: calc(1.8 * 175%)}
.bear-te17 {font-size: calc(1.7 * 175%)}
.bear-te16 {font-size: calc(1.6 * 175%)}
.bear-te15 {font-size: calc(1.5 * 175%)}
.bear-te14 {font-size: calc(1.4 * 175%)}
.bear-te13 {font-size: calc(1.3 * 175%)}
.bear-te12 {font-size: calc(1.2 * 175%)}
.bear-te11 {font-size: calc(1.1 * 175%)}
.bear-te10 {font-size: calc(1 * 175%)}
.bear-te9 {font-size: calc(.9 * 175%)}
.bear-te8 {font-size: calc(.8 * 175%)}
.bear-te7 {font-size: calc(.7 * 175%)}
.bear-te6 {font-size: calc(.6 * 175%)}
.bear-te5 {font-size: calc(.5 * 175%)}
.bear-te4 {font-size: calc(.4 * 175%)}
.bear-te3 {font-size: calc(.3 * 175%)}
.bear-te2 {font-size: calc(.2 * 175%)}
.bear-te1 {font-size: calc(.1 * 175%)}

/* Fonts */

.bear-tesan {
	font-family: 'Source Sans Pro', sans-serif;
}

.bear-tedec {
	font-family: 'Seymour One', sans-serif;
}

.bear-tesla {
	font-family: 'Roboto Slab', serif;
}

.bear-teser {
	font-family: 'EB Garamond', serif;
}

.bear-temon {
	font-family: 'PT Mono', monospace;
}

/* Special */

.bear-telin {
	text-decoration: underline white;
	text-decoration-skip: ink;
}

.bear-telig {
	font-weight: lighter;
}

.bear-tebol {
	font-weight: bolder;
}
