// Kiselev Nikolay 2017

$namelist: "White", "Black"
$datalist: #ffffff, #000000

@each $current in $namelist
	$i: index($namelist, $current)
	.BearFront#{$current}
		color: nth($datalist, $i)
	.BearBack#{$current}
		background-color: nth($datalist, $i)
