////     north
//// east     west
////     south



=navbycompass($dir, $redir)
	justify-content: $dir
	align-content: $redir
	align-items: $redir

=compassme
	&.Center
		+navbycompass(center, center)
	&.West
		+navbycompass(center, flex-start)
	&.East
		+navbycompass(center, flex-end)
	&.North
		+navbycompass(flex-start, center)
		&.West
			+navbycompass(flex-start, flex-start)
		&.East
			+navbycompass(flex-start, flex-end)
	&.South
		+navbycompass(flex-end, center)
		&.West
			+navbycompass(flex-end, flex-start)
		&.East
			+navbycompass(flex-end, flex-end)

.Containy, .Bookly, .Texty, .Baner
	display: flex
	align-items: stretch
	&.Col
		flex-direction: column
		+compassme
	&.Row
		flex-direction: row
		+compassme
	@for $j from 1 through 17
		@for $i from 1 through 17
			@if $i <= $j
				&.Width#{$i}of#{$j}
					width: $i / $j * 100 + vw
				&.Hei#{$i}of#{$j}
					height: $i / $j * 100 + vw
				&.Height#{$i}of#{$j}
					height: $i / $j * 100 + vh

	$aligns: flex-start, flex-end, center, space-between, space-around, space-evenly
	$names:  "Start", "End", "Center", "SpaceBetween", "SpaceAround", "SpaceEvenly"
	@for $i from 1 through length($aligns)
		&.KeepJustify#{nth($names, $i)}
			justify-content: nth($aligns, $i)				

	$aligns: flex-start, flex-end, center, baseline, stretch
	$names:  "Start", "End", "Center", "Baseline", "Stretch"
	@for $i from 1 through length($aligns)
		&.KeepItems#{nth($names, $i)}
			align-items: nth($aligns, $i)

	$aligns: flex-start, flex-end, center, space-between, space-around, stretch
	$names:  "Start", "End", "Center", "SpaceBetween", "SpaceAround", "Stretch"
	@for $i from 1 through length($aligns)
		&.KeepContent#{nth($names, $i)}
			align-content: nth($aligns, $i)

.Wrapper
	width: 100vw
	flex-wrap: wrap
	@extend .Containy.Row
	@extend .Containy.Width1of1

html, body
	width: 100vw
	min-height: 100vh